=render 'shared/header'
.form-page
  .my-page
    =render 'shared/leftBar'
    .my-status
      .my-status__purchased-items
        .purchased-title
          購入した商品
        .purchased-lists
          - if @bought_items.present?
            - @bought_items.each do |item|
              %ul
                %li
                  =link_to item_path(item) do
                    .image-box
                      = image_tag item.images[0].image.url
                    .text
                      = item.title
                    .icon-arrow-right
                      = icon('fas', 'chevron-right')
          - else
            .purchased-lists--message
              購入した商品がありません
=render 'shared/footer'