.form-page
  =render partial: 'shared/form-head'
  .form-body
    .container
      .container__title
        発送元・お届け先住所変更
      .container__body
        .body__form
          = form_with model: @address, url: addresses_path, local: true, method: :post do |f|
            -# = devise_error_messages!
            .title
              お名前（全角）
            .name-box
              =f.text_field :lastname, class: "name-box__text-field", placeholder: '  例）山田'
              =f.text_field :firstname, class: "name-box__text-field", placeholder: '  例）彩'
            .title
              お名前カナ（全角）
            .name-box
              =f.text_field :lastname_kana, class: "name-box__text-field", placeholder: '  例）ヤマダ'
              =f.text_field :firstname_kana, class: "name-box__text-field", placeholder: '  例）アヤ'
            .title
              郵便番号
            .birthday
              =f.text_field :postal_code, class: "text-field", placeholder: '  例）'
            .title
              県
            .birthday
              =f.text_field :prefecture, class: "text-field", placeholder: '  例）'
            .title
              市区町村
            .birthday
              =f.text_field :city, class: "text-field", placeholder: '  例）'
            .title
              番地
            .birthday
              =f.text_field :house_num, class: "text-field", placeholder: '  例）'
            .title
              建物名
            .birthday
              =f.text_field :detail, class: "text-field", placeholder: '  例）'
            .title
              電話番号
            .birthday
              =f.text_field :tel_num, class: "text-field", placeholder: '  例）'



            =f.submit '新規登録', class: "submit-btn"
  =render partial: 'shared/form-foot'