-# =render 'shared/header'

.search-results-tmp
  .search-results-tmp__disp-area
    .search-results-tmp__disp-area--search-title
      = "”" + "検索内容" + "”の一覧"

    .search-products-list
      // TODO 検索結果で作成
      - for num in 1..10 do
        .search-product-block
          .search-product-block__product-img
            = image_tag "icon-04.png", class: "img-conf"
            .search-product-block__product-img--on-price
              = "¥ " + "1,0000"
          .search-product-block__product-name
            商品名ああああああああああああああああああああああ
            .search-product-block__product-name--white-mask

    .pagination-area
      ページネイション

-# =render 'shared/footer'