.notification {
  position: absolute;
  z-index: 2;
  width: 100%;
  .notice {
    background-color: #3CCACE;
    color: white;
    text-align: center;
  }
  .alert {
    background-color: Darkgray;
    color: white;
    text-align: center;
  }
}