.container {
  width: 700px;
  margin: 0 auto;
  background-color: white;
  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    padding: 30px 0;
    border-bottom: 2px solid #f8f8f8;
  }
  &__body {
    margin: 0 20%;
    &__item {
      width: 100%;
      display: flex;
      padding: 10%;
      border-bottom: 2px solid #f8f8f8;
      .item__left-box {
        margin: auto 0;
        padding-right: 10px;
        .left-box__image {
          object-fit: cover;
          height: 70px;
          width: 70px;
        }
      }
      .item__right-box {
        padding-left: 10px;
        .right-box__title {
          font-size: 16px;
          line-height: 16px;
          padding-bottom: 10px;
        }
        .right-box__price-box {
          font-size: 14px;
          line-height: 14px;
          font-weight: bold;
          display: flex;
          justify-content: start;
          .price-box__price {
            padding-right: 5px;
          }
          span {
            padding-right: 5px;
          }
        }
      }
    }
    .body__payment {
      display: flex;
      justify-content: space-between;
      padding: 10% 0;
      border-bottom: 2px solid #f8f8f8;
      span {
        font-size: 18px;
        font-weight: bold;
      }
      .payment__amount {
        font-size: 28px;
        font-weight: bold;
      }
    }
    .body__payment-method {
      display: flex;
      justify-content: space-between;
      padding: 10% 0;
      border-bottom: 2px solid #f8f8f8;
      .payment-method__show {
        font-size: 14px;
        .show__heading {
          font-weight: bold;
          padding-bottom: 10px;
        }
        .show__detail {
          p {
            line-height: 18px;
          }
          img {
            object-fit: cover;
            height: 15px;
            width: 50px;
            margin: 10px 0 0;
          }
        }
      }
      .payment-method__changing-btn {
        font-size: 14px;
        color: #3CCACE;
        text-decoration: none;
      }
    }
    .body__shipping-address {
      display: flex;
      justify-content: space-between;
      padding: 10% 0;
      border-bottom: 2px solid #f8f8f8;
      .shipping-address__show {
        font-size: 14px;
        .show__heading {
          font-weight: bold;
          padding-bottom: 10px;
        }
        .show__detail {
          line-height: 22px;
        }
      }
      .shipping-address__changing-btn {
        font-size: 14px;
        color: #3CCACE;
        text-decoration: none;
      }
    }
    .body__purchase-btn {
      padding: 10% 0;
      .btn {
        background-color: #3CCACE;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        line-height: 40px;
        text-decoration: none;
        padding: 12px 180px;
      }
    }
  }
}
