.item-show {
  width: 700px;
  margin: 0 auto;

  .item-box {
    background-color: #fff;
    padding: 0 40px 40px;
    margin-top: 24px;
    margin-bottom: 10px;
    // position: relative;
    &__title {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }
    &__images {
      height: 320px;
      width: 100%;
      margin: 16px 0 0;
      // padding-left: 20px;
      position: relative;
      &--scroll-image{
        height: 100%;
        width: 100%;
        display: flex;
        overflow-x: scroll;
        padding-left: 10px;
        .image-box{
          flex-basis: 0 0 280px;
          padding: 10px;
          height: 95%;
          width: 300px;
          min-width: 280px;
          img{
            object-fit: cover;
            height: 300px;
          }
        }
      }
      &--left-mask{
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 20px;
        background: -moz-linear-gradient(right, #FFF0 40%, #FFF);
        background: -webkit-linear-gradient(right, #FFF0 40%, #FFF);
        background: linear-gradient(to left, #FFF0, #FFF);
      }
      &--right-mask{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 20px;
        background: -moz-linear-gradient(left, #FFF0 40%, #FFF);
        background: -webkit-linear-gradient(left, #FFF0 40%, #FFF);
        background: linear-gradient(to right, #FFF0, #FFF);
      }
    }
    &__price-box {
      margin: 24px 0 24px;
      text-align: center;
      flex-direction: column;
      .price-box__price {
        font-size: 46px;
        font-weight: bold;
        margin-right: 10px;
      }
      .price-box__detail {
        font-size: 16px;
        margin-top: 10px;
      }
    }
    &__description {
      line-height: 1.5;
      font-size: 18px;
      margin-bottom: 30px;
    }
    &__table {
      margin-bottom: 20px;
      table {
        width: 100%;
        height: 375px;
        border-collapse: collapse;
        border: 1px solid #f8f8f8;
        tbody {
          tr {
            th {
              width: 20%;
              background-color: #eee;
              font-weight: 400;
              padding: 8px;
              border: 1px solid #dedede;
              font-size: 14px;
              text-align: center;
            }
            td {
              width: 61px;
              padding: 15px 15px;
              border: 1px solid #dedede;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    li {
      float: left;
      a {
        text-decoration: none;
        color: #3CCACE;
      }
    }
    li {
      float: right;
    }
  }
  .related-items {
    a {
      display: block;
      margin: 24px 0 8px;
      color: #3CCACE;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
      position: relative;
    }
  }
}
img {
  width: 100%;
  vertical-align: bottom;
}
